# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


.claude/
.DS_Store
.idea/
.project
.puppeteer_profile/
.vs/
.vscode/

*.swp
npm-debug.log

test/e2e/chromium
test/e2e/output-screenshots
test/treeshake/index.bundle.js
test/treeshake/index.bundle.min.js
test/treeshake/index.webgpu.bundle.js
test/treeshake/index.webgpu.bundle.min.js
test/treeshake/index.webgpu.nodes.bundle.js
test/treeshake/index.webgpu.nodes.bundle.min.js
test/unit/build

**/node_modules